

<p-menubar [model]="menuModel">
<!--  <p-header>-->
<!--    <a href="#" class="navbar-brand">Recipe Book</a>-->
<!--  </p-header>-->
  <ng-template pTemplate="start">
    <p-header>
      <a routerLink="/recipes" class="navbar-brand" style="font-weight: bold; font-size: large">Recipe Book</a>
    </p-header>
<!--    <li class="nav-item">-->
<!--      <a (click)="onSelect('recipe')" class="nav-link">Recipes</a>-->
<!--    </li>-->
<!--    <li class="nav-item d-lg-inline">-->
<!--      <a (click)="onSelect('shopping-list')" class="nav-link">Shopping List</a>-->
<!--    </li>-->
  </ng-template>
  <ng-template pTemplate="end">
    <p-dropdown
      [options]="menuItems"
      [(ngModel)]="selectedMenuItem"
      placeholder="Select an option"
      (onChange)="onMenuItemSelected()"
    ></p-dropdown>
  </ng-template>
</p-menubar>

