
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <p-button type="submit"
                  [disabled]="!recipeForm.valid"
                  styleClass="p-button-success"
                  label="Save"></p-button>
        <p-button type="button" styleClass="p-button-danger" label="Cancel" (click)="onCancel()"></p-button>
      </div>
          <div class="field grid">
            <label for="name" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
            <div class="col-12 md:col-10">
              <input type="text" pInputText id="name"
                     formControlName="name" class="">
            </div>

          </div>
        <div class="field grid">
          <label for="imagePath" class="col-12 mb-2 md:col-2 md:mb-0">Image Url</label>
          <div class="col-12 md:col-10">
            <input type="text" pInputText id="imagePath"
                   formControlName="imagePath"
                   class="">
          </div>

        </div>
      <div class="field grid">
        <div class="col-12 md:col-10">
          <img src="" class="p-image-preview-container">
        </div>

      </div>
      <div class="field grid">
        <label for="description" class="col-12 mb-2 md:col-2 md:mb-0">Description</label>
        <div class="col-12 md:col-10">
          <textarea  pInputText id="description" formControlName="description" class="" rows="6">
          </textarea>
        </div>
      </div>
      <div class="formgroup-inline" formArrayName="ingredients">
        <div class="grid"
             *ngFor="let ingredientCtrl of controls; let i =index"
             [formGroupName]="i" style="margin-top: 10px">
          <div class="field col-6">
            <input type="text" pInputText formControlName="name"
                   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
          </div>
          <div class="field col-3">
            <input type="text" pInputText  formControlName="amount"
                   class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary">
          </div>
          <div class="field col-3">
            <p-button styleClass="p-button-danger">X</p-button>
          </div>
        </div>
        <hr>
        <div class="grid">
          <div class="col-12">
            <p-button type="button" styleClass="p-button-success" (click)="onAddIngredient()">Add Ingredient</p-button>
          </div>
        </div>

      </div>
    </form>

