<div class="row">
  <div class="col-xs-12">
    <p-button label="">New Recipe</p-button>

<!--    <button class="btn btn-primary">New Recipe</button>-->
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 ">
    <a href="#" class="list-group-item clearfix  border border-1" *ngFor="let recipe of recipes">
      <div class="float-start">
        <h4 class="list-group-item">{{recipe.name}}</h4>
        <p class="list-group-item">{{recipe.description}}</p>
      </div>
      <span class="float-end">
        <img [src]="recipe.imagepath" class="img-fluid" style="max-height: 50px" alt="{{recipe.name}}">
      </span>
    </a>
    <hr>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

